<style>
		p{
			color:yellow;
			font-size:
		30px;
		}
		</style>
		#list {
			color:yellow;
		}
			#image {
				width:50%;
				height:50%;
			}
		#background {
			background-color:blue;
		}
		#button {
			width:15%;
			height:5%;
		}
		#button {
			background-color:yellow;
		}
		#bottom {
			border-radius:15px;
		}
		.navitem{
			list-style-type:none;
			display:inline;
			padding-right:1.5em;
		}
		#navmenu{
			height:30px;
			width:250px;
			margin:auto;
			background-color:#ffff00;
		}
		.homeLink:link{
			color:yellow;
		}
		.homeLink:visited{
			color:blue;
		}
		.homeLink:hover{
			color:red;
		}
		.homeLink:active{
			color:yellow;
		}
		



	    }

		header {
			height:50px;
			width:100%;
			border:2px solid black;
			background-color:#0000ff; 
			margin-bottom:5em;
		}
		footer {
			height:100px;
			width:100%;
			border:2px solid black;
			background-color:#ffff00;
		}
		.wrap-trivia{
			height:400px;
			width:450px;
			border:5px dashed yellow;
			padding
		}
		.wrap-list{
			height:400px;
			width:450px;
			border:5px dashed yellow;
		}
		.wrap-text{
			color:#ffff00;
			font-size:1.5em;
		}
		#one{
			height:50px;
			width:100px;
			background-color:blue;
			display:inline-block;
			position:absolute;
			z-index:1;
			position:relative;  
			top:750px;
		}
		#two{
			height:50px;
			width:100px;
			background-color:blue;
			display:inline-block;
			position:absolute;
			z-index:2;

		}
		#three{
			height:50px;
			width:100px;
			background-color:blue;
			display:inline-block;
			position:absolute;
			position:fixed;
			left:25%;
		}
		body{
			height:2048px;
			position:center;
		}
		









		